/*
 * Some of the code was from https://copy.sh with some modifications
 */

body {
    margin: 40px;
    font: 16px "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #fff;
}
code {
    font-family: Lucida Console, Monaco, monospace;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: lightgrey;
    border-radius: 6px;
}

a {
    text-decoration: none; color: #22a;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 130%;
}
h1 a {
    color: #000;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

/* Got from StackOverflow itself :) */
kbd {
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    color: black;
    text-shadow: 0 1px 0 white;
    background-color: #ccc;
    border: 1px;
    border-radius: 6px;
    box-shadow: 0 1px 1pxhsla(210,8%,5%,0.15),inset 0 1px 0 0hsl(0,0%,100%);
    overflow-wrap: break-word;
}

.box {
    width: 444px;
    border: 2px solid #ccc;
    padding: 15px;
    margin: 15px;
}
.box img {
    float: left;
    margin-right: 15px;
}

.outer {
    display: flex; flex-wrap: wrap;
}
